<% provide(:title, "Playing a game") %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-1"><div id="monster-card" class="card">monster area</div></div>
		<div class="col-md-5"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<%= render partial: "player_card", locals: {player: 0, card: 0} %>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="playslot0" class="card-slot" data-slot="0">1st position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1">
			<%= render partial: "player_card", locals: {player: 1, card: 0} %>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<%= render partial: "player_card", locals: {player: 0, card: 1} %>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="playslot1" class="card-slot" data-slot="1">2nd position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1">
			<%= render partial: "player_card", locals: {player: 1, card: 1} %>
		</div>		
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
				<div class="col-md-1">
			<%= render partial: "player_card", locals: {player: 0, card: 2} %>
		</div>	
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="playslot2" class="card-slot" data-slot="2">3rd position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1">
			<%= render partial: "player_card", locals: {player: 1, card: 2} %>
		</div>	
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<%= render partial: "player_card", locals: {player: 0, card: 3} %>
		</div>	
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="playslot3" class="card-slot" data-slot="3">4th position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1">
			<%= render partial: "player_card", locals: {player: 1, card: 3} %>
		</div>	
		<div class="col-md-1"></div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><%= render partial: "player_card", locals: {player: 2, card: 0} %></div>
		<div class="col-md-1"><%= render partial: "player_card", locals: {player: 2, card: 1} %></div>
		<div class="col-md-1"><%= render partial: "player_card", locals: {player: 2, card: 2} %></div>
		<div class="col-md-1"><%= render partial: "player_card", locals: {player: 2, card: 3} %></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"><%= render partial: "player_card", locals: {player: 3, card: 0} %></div>
		<div class="col-md-1"><%= render partial: "player_card", locals: {player: 3, card: 1} %></div>
		<div class="col-md-1"><%= render partial: "player_card", locals: {player: 3, card: 2} %></div>
		<div class="col-md-1"><%= render partial: "player_card", locals: {player: 3, card: 3} %></div>
		<div class="col-md-1"></div>
	</div>
</div>