<% provide(:title, "Playing a game") %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-1"><div id="monster-card" class="card">monster area</div></div>
		<div class="col-md-5"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p1card1" class="card"><%= @state.hands[0].cards[0].id %></div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">1st position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="p2card1" class="card"><%= @state.hands[1].cards[0].id %></div></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p1card2" class="card"><%= @state.hands[0].cards[1].id %></div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">2nd position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="p2card2" class="card"><%= @state.hands[1].cards[1].id %></div></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p1card3" class="card"><%= @state.hands[0].cards[2].id %></div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">1st position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="p2card3" class="card"><%= @state.hands[1].cards[2].id %></div></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p1card4" class="card"><%= @state.hands[1].cards[3].id %></div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div class="card">1st position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="p2card4" class="card"><%= @state.hands[1].cards[3].id %></div></div>
		<div class="col-md-1"></div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p3card1" class="card"><%= @state.hands[2].cards[0].id %></div></div>
		<div class="col-md-1"><div id="p3card2" class="card"><%= @state.hands[2].cards[1].id %></div></div>
		<div class="col-md-1"><div id="p3card3" class="card"><%= @state.hands[2].cards[2].id %></div></div>
		<div class="col-md-1"><div id="p3card4" class="card"><%= @state.hands[2].cards[3].id %></div></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p4card1" class="card"><%= @state.hands[3].cards[0].id %></div></div>
		<div class="col-md-1"><div id="p4card2" class="card"><%= @state.hands[3].cards[1].id %></div></div>
		<div class="col-md-1"><div id="p4card3" class="card"><%= @state.hands[3].cards[2].id %></div></div>
		<div class="col-md-1"><div id="p4card4" class="card"><%= @state.hands[3].cards[3].id %></div></div>
		<div class="col-md-1"></div>
	</div>
</div>