<% provide(:title, "Playing a game") %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-1"><div id="monster-card" class="card">monster area</div></div>
		<div class="col-md-5"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p1card1" class="card" draggable="true"><%= @state.players[0].cards[0].name %></div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="playslot1" class="card-slot">1st position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="p2card1" class="card" draggable="true"><%= @state.players[1].cards[0].name %></div></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p1card2" class="card" draggable="true"><%= @state.players[0].cards[1].name %></div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="playslot2" class="card-slot">2nd position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="p2card2" class="card" draggable="true"><%= @state.players[1].cards[1].name %></div></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p1card3" class="card" draggable="true"><%= @state.players[0].cards[2].name %></div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="playslot3" class="card-slot">3rd position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="p2card3" class="card" draggable="true"><%= @state.players[1].cards[2].name %></div></div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p1card4" class="card" draggable="true"><%= @state.players[1].cards[3].name %></div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="playslot4" class="card-slot">4th position</div></div>
		<div class="col-md-3"></div>
		<div class="col-md-1"><div id="p2card4" class="card" draggable="true"><%= @state.players[1].cards[3].name %></div></div>
		<div class="col-md-1"></div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p3card1" class="card" draggable="true"><%= @state.players[2].cards[0].name %></div></div>
		<div class="col-md-1"><div id="p3card2" class="card" draggable="true"><%= @state.players[2].cards[1].name %></div></div>
		<div class="col-md-1"><div id="p3card3" class="card" draggable="true"><%= @state.players[2].cards[2].name %></div></div>
		<div class="col-md-1"><div id="p3card4" class="card" draggable="true"><%= @state.players[2].cards[3].name %></div></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"><div id="p4card1" class="card" draggable="true"><%= @state.players[3].cards[0].name %></div></div>
		<div class="col-md-1"><div id="p4card2" class="card" draggable="true"><%= @state.players[3].cards[1].name %></div></div>
		<div class="col-md-1"><div id="p4card3" class="card" draggable="true"><%= @state.players[3].cards[2].name %></div></div>
		<div class="col-md-1"><div id="p4card4" class="card" draggable="true"><%= @state.players[3].cards[3].name %></div></div>
		<div class="col-md-1"></div>
	</div>
</div>