<%= form_for(monster) do |f| %>
  <% if monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :health %>
    <%= f.text_field :health %>
  </div>

  <div class="field">
    <%= f.label :attack %>
    <%= f.text_field :attack %>
  </div>

  <div class="field">
    <%= f.label :defense %>
    <%= f.text_field :defense %>
  </div>

  <div class="field">
    <%= f.label :effect %>
    <%= f.text_field :effect %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
