<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Character</th>
      <th>Card type</th>
      <th>Effect</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="cardList">
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.character %></td>
        <td><%= card.card_type %><%= image_tag(Card.cardImages[card.card_type]) %></td>
        <td><%= card.effect %></td>
        <td><%= link_to 'Show', card %>
            <%= link_to 'Edit', edit_card_path(card) %>
            <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
